/* body{
    background: #f1f1f1;
  } */
  
  .aoe-title{
    text-transform: uppercase;
        text-align: center;
      font-weight: 600;
      color: #19b5fe;
  }
  
  .line{
      width: 75px;
      height: 5px;
      background-color: #f62459;
      margin: auto;
      margin-top: 20px;
      margin-bottom: 70px;
  }
  
  /*=================================================== TESTIMONIALS SECTION ==========================================================*/
  
  .testimonials-section{
    padding: 50px 0px 50px 0px;
  }
  
  
  /*-------------------------------------------------------- Carousel ----------------------------------------------------------*/
  .col-center {
    margin: 0 auto;
    float: none !important;
  }
  .carousel {
    margin: 50px auto;
    padding: 0 170px;
  }
  .carousel .item {
    color: #999;
    font-size: 14px;
      text-align: center;
    overflow: hidden;
      min-height: 290px;
  }
  .carousel .item .img-box {
    width: 170px;
    height: 170px;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 50%;
  }
  .carousel .img-box img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
  }
  .carousel .testimonial {
    padding: 30px 0 10px;
    color: #555;
  }
  
  .carousel-inner {
      text-align: center;
  }
  
  .carousel-title{
    margin: 25px;
    color: #333;
  }
  
  .carousel-line{
    height: 1px;
    width: 600px;
    background-color: #cecece;
    margin: auto;
  }
  
  .carousel .overview { 
      font-size: 12px;
      margin-bottom: 5px;
  }
  
  .carousel .overview b {
    color: #7AA641;
  }
  
  .company-name{
      color: #555;
  }
  
  .carousel .carousel-control {
    width: 0px;
      height: 40px;
      margin-top: -20px;
      top: 50%;
    background: none;
  }
  .carousel-control i {
      font-size: 25px;
      line-height: 42px;
      position: absolute;
      display: inline-block;
      color: #000;
  }
  .carousel .carousel-indicators {
    bottom: -40px;
  }
  .carousel-indicators li, .carousel-indicators li.active {
    width: 10px;
    height: 10px;
    margin: 1px 3px;
    border-radius: 50%;
  }
  .carousel-indicators li { 
    background: #999;
    border-color: transparent;
    box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
  }
  .carousel-indicators li.active {  
    background: #555;   
    box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
  }
  
  .testimonial span{
      font-size: 62px;
      position: absolute;
      top: 57%;
      left: 0;
      font-family: 'Emblema One', cursive;
      color: #333;
  }
  
  .carousel-control-prev span{
      position: absolute;
      font-size: 14px;
      top: 29%;
      left: 20px;
      color: #89c4f4;
      text-shadow: none;
      font-weight: bolder;
  }
  
  .carousel-control-next span{
      position: absolute;
      font-size: 14px;
      top: 29%;
      right: 20px;
      color: #89c4f4;
      text-shadow: none;
      font-weight: bolder;
  }
.carousel-control-prev span:nth-child(2), .carousel-control-next span:nth-child(2){
  display: none;
}
@media screen and (max-width:950px){
  .carousel-caption{
    font-size: 10px;
    position: relative;
    left: 12%;
  }
}
@media screen and (max-width:750px){
  .image-container{
    width: max-content;
  }
  
  .caption-container{
    margin-top: 15px;
  }
  .carousel-caption{
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 30px;
    left: -50px;
  }
  .carousel-caption p{
    position: relative;
    right: 47px;
    font-size: 12px;
    width: 100%;
  }
}